@if (globalState.currentState == State.Login) {
	<student-login></student-login>
} @else if (globalState.currentState == State.Register) {
	<student-register></student-register>
}
@else {
	<student-navbar></student-navbar>
	@if (globalState.currentState == State.Applications) {
		<student-applications></student-applications>
	} @else if (globalState.currentState == State.User) {
		<student-profile></student-profile>
	} @else if (globalState.currentState == State.Scholarships) {
		<student-scholarship></student-scholarship>
	} @else if (globalState.currentState == State.Appeals) {
		<student-appeals></student-appeals>
	}
}
