@if (applicationsService.hasApplications()) {
	<div class="row ms-1 justify-content-center">
		@for (application of applicationsService.getApplications(); track application.id) {
			<div class="card w-25 me-1 mb-1">
				<h5 class="card-title">{{application.beca.nombre}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">Estado: {{ capitalize(application.estado) }}</h6>
				<p class="card-text">{{application.beca.descripcion}}</p>
				<button class="btn btn-info">Mostrar postulación</button>
				@if (application.estado == "rechazada") {
					<button data-bs-toggle="modal" data-bs-target="#modalApelar" class="btn btn-link">Apelar</button>
					
					<div class="modal fade" id="modalApelar" tabindex="-1" aria-labelledby="modalApelarLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalApelarLabel">Crear apelación - {{application.beca.nombre}}</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-outline mb-4">
											<label for="nombreBeca" class="form-label">Nombre de la beca:</label>
											<input type="text" class="form-control" name="nombreBeca" id="nombreBeca" disabled="true" value="{{ application.beca.nombre }}" />
										</div>
										<div class="form-outline mb-4">
											<label for="razonApelacion" class="form-label">Razón:</label>
											<input type="text" class="form-control" name="razonApelacion" id="razonApelacion" [(ngModel)]="razonApelacion" placeholder="Razón por la que se va a apelar" />
										</div>
										<div class="form-outline mb-4">
											<label for="descripcionApelacion" class="form-label">Descripción</label>
											<textarea class="form-control" name="descripcionApelacion" id="descripcionApelacion" rows="3" [(ngModel)]="descripcionApelacion"></textarea>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
									<button (click)="appeal()" type="button" class="btn btn-primary">Enviar apelación</button>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		}
	</div>
} @else {
	<div class="row text-center">
		<h1>No hay postulaciones</h1>
	</div>
}
