<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
	<button class="btn btn-link navbar-brand">Sistema de Postulación de Becas</button>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			@if (globalState.currentState != State.Applications) {
				<li class="nav-item active">
					<button (click)="globalState.goApplications()" class="btn btn-link nav-link">Mis postulaciones</button>
				</li>				
			}
			@if (globalState.currentState != State.User) {
				<li class="nav-item active">
					<button (click)="globalState.goProfile()" class="btn btn-link nav-link">Revisar perfil</button>
				</li>
			}
			@if (globalState.currentState != State.Scholarships) {
				<li class="nav-item active">
					<button (click)="globalState.goScholarships()" class="btn btn-link nav-link">Postular a becas</button>
				</li>
			}
			@if (globalState.currentState != State.Appeals) {
				<li class="nav-item active">
					<button (click)="globalState.goAppeals()" class="btn btn-link nav-link">Ver apelaciones</button>
				</li>
			}
		</ul>
	</div>
</nav>
